@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (SignInManager.IsSignedIn(User))
{
    <div id="_antiForgeryHolder" style="display: none">
        @Html.AntiForgeryToken()
    </div>
    <app id="app"></app>

    <script type="text/javascript" src="/app/js/bundle.js"></script>

    @section Header {
        <link rel="stylesheet" href="/app/css/main.css">
        <script>
            var userName = "@User.Identity.Name";
        </script>
    }
}
else
{
    @section Header {
        <script>
            location.href = "/Identity/Account/Login";
        </script>
    }
}