<div class="mainContent">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a v-bind:class="[{active: activeTab === 'map'}, 'nav-link']" v-on:click="activeTab = 'map'" href="#">Térkép</a>
        </li>
        <li class="nav-item">
            <a v-bind:class="[{active: activeTab === 'departure'}, 'nav-link']" v-on:click="activeTab = 'departure'" href="#">Indulások</a>
        </li>
        <li class="nav-item">
            <a v-bind:class="[{active: activeTab === 'idontknow'}, 'nav-link']" v-on:click="activeTab = 'idontknow'" href="#">Járatok</a>
        </li>
        <li class="nav-item">
            <a v-bind:class="[{active: activeTab === 'stops'}, 'nav-link']" v-on:click="activeTab = 'stops'" href="#">Megállók</a>
        </li>
    </ul>
    <MapComponent v-if="activeTab === 'map'"></MapComponent>
</div>