@import "../../css/common";

#mainContent {
    display: grid;
    grid-template-rows: 42px auto;
    grid-template-columns: auto;
    grid-template-areas:
        "navbar"
        "content";
    
    #mainContentNavBar{
        grid-area: navbar;
    }
    
    > div {
        grid-area: content;
    }
}


@media not screen and (max-width: $desktopViewMinWidth) {
    #mainContent{
        display: grid;
        grid-template-rows: 42px auto;
        grid-template-columns: auto 400px;
        grid-template-areas:
            "map navbar"
            "map content";
    
        //id mainMap is set in MapComponent.vue
        #mainMap {
            grid-area: map;
        }
        > div {
            grid-area: content;
        }
    }
}