<div>
    <div v-for="stop in stopData">
        <div>
            <span class="megalloIcon" v-bind:style="rotateIcon(stop.direction)"></span>
            <a href="#" v-on:click="$emit('navigate-to-stop', stop.id)">{{stop.name}}</a>
        </div>
        <span v-for="route in stop.routes" class="stopRoute">
            <span v-bind:class="{autobuszIcon: route.type === 'BUS'}"></span>
            <span v-bind:class="{estiAutobuszIcon: route.type === 'BUS_ESTI'}"></span>
            {{route.name}}
        </span>
        <hr>
    </div>
</div>